NEXT_PUBLIC_SUPABASE_URL=https://sqmzwmtysiozupcpdyuc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_aqui
SUPABASE_SERVICE_KEY=tu_service_key_aqui
CRON_SECRET=una_clave_secreta_que_vos_elijas
NEXT_PUBLIC_MUNDIAL_START=2026-06-11T19:00:00Z
